@{
    ﻿
    string image = ViewData["Image"] as string;
}
@model Photo

<div class="container">
        <div class="card">
        <img src="data:image;base64,@image" alt="Pizza1">
            <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">
            @Model.Description
            </p>
            <p>
                <strong>Categorie:</strong>
                @foreach (Category category in Model.Categories)
                {
                    <div>
                        <label>
                            @category.Name
                        </label>
                    </div>
                }
            </p>
            </div>
        </div>
</div>